.shop-list {
  margin: 20px 15px; // 设置外边距
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
}

.shop-item {
  display: flex; // 使用 flex 布局
  height: 250px;
}

.checkbox-wrapper {
  align-self: center; // 将复选框垂直居中
}

.product-image {
  margin: 10px auto;
  align-items: center;
  width: 30%;

  image {
    border-radius: 20px; // 设置图片的圆角
    max-width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.product-info {
  position: relative;
  margin-left: 10px;
}

.product_price {
  position: absolute;
  left: 10px;
  bottom: 10px;
}

.quantity-control {
  position: absolute;
  margin-left: auto;
  display: flex;
  right: 10px;
  bottom: 10px;
  border: 1px solid #ccc; /* 添加边框 */
  border-radius: 2px; /* 添加圆角 */
  overflow: hidden; /* 隐藏按钮溢出部分 */
}

.quantity-control .minus,
.quantity-control .plus {
  width: 50px; /* 设置按钮宽度 */
  height: 50px; /* 设置按钮高度 */
  line-height: 30px; /* 设置按钮文字垂直居中 */
  border: none; /* 去除按钮默认边框 */
  background-color: #fff; /* 设置按钮背景色 */
  color: #333; /* 设置按钮文字颜色 */
  font-size: 32px; /* 设置按钮文字大小 */
  display: flex;
  align-items: center;
  justify-content: center;
}

.quantity-control .count {
  width: 40px; /* 设置数量显示宽度 */
  height: 50px; /* 设置数量显示高度 */
  line-height: 50px; /* 设置数量文字垂直居中 */
  text-align: center; /* 设置数量文字水平居中 */
  border-left: 1px solid #ccc; /* 添加左边框 */
  border-right: 1px solid #ccc; /* 添加右边框 */
  font-size: 32px; /* 设置数量文字大小 */
}
