.orderList {
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  margin: 10px auto;
  width: 100%;
}

.orderItem {
  margin: 15px auto;
  height: 250px;
}

.orderItem-header {
  display: flex;
  justify-content: space-between;
  height: 12%;
  margin-bottom: 10px;
}

.orderItem-body {
  height: 60%;
  display: flex;
  justify-content: space-between;
}

.orderItem-body-scroll {
  width: 80%;
  white-space: nowrap;
  height: 100%;
  display: flex;
}

.orderItem-body-scroll-image {
  height: 70%;
  width: 25%;
  object-fit: cover;
  border-radius: 15px;
  align-self: center;
  margin: 0 10px;
}

.orderItem-body-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.orderItem-body-pay {
  // 子元素右对齐
  display: flex;
  justify-content: flex-end;
}
