.cardList{
  min-height: 300px;
}


.card-item {
  margin: 20px 10px; /* 上下为 0，左右为 10px */
  background-color: rgb(255, 255, 255);
  border-radius: 35px;
}


.card-tag-list {
  margin-top: 10rpx;
  height: 15px;
  overflow: hidden;
}

.card-tag-list > .tag {
  float: left;
  padding: 0 5px;
  border-radius: 1px;
  font-size: 10px;
  height: 15px;
  line-height: 15px;
  color: #999;
  background-color: rgb(255, 255, 255);
  margin-right: 20px;
}
