.index {
  background-color: rgb(244, 248, 247);
}

.danmu-view {
  background-color: #e8e6e6;
}

.scroll-view {
  display: flex;
  overflow-x: auto;
  white-space: nowrap; /* 虽然使用 flexbox 可以不使用这个属性，但保留可以增强兼容性 */
  width: 100%;
  height: 10%;
  padding: 10px;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none; /* IE 和 Edge */
  scrollbar-width: none; /* Firefox */
}

.scroll-view::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}

.scroll-item {
  display: flex;
  flex-direction: row; /* 修改为 row，水平排列 */
  justify-content: center; /* 水平居中 */
  align-items: center; /* 垂直居中 */
  flex-shrink: 0;
  width: 20%;
  height: 100%;
  margin-right: 25r px;
  background-color: rgb(244, 248, 247);
  border-radius: 20px;
}

.scroll-container {
  height: 100%;
  overflow-y: auto;
}
