.index {
  background-color: rgb(244, 248, 247);
  width: 100%;
  height: 100%;
}

.notice-card {
  margin-bottom: 10px;
}

.back-view {
  //background-image: linear-gradient(to top, #feada6 0%, #f5efef 100%);
  background-color: #FFF0F5;
}

.grid-view {
  overflow: visible;
  padding: 20px;
}

.grid-card {
  border-radius: 20px;
  overflow: hidden;
}


.scroll-view {
  display: flex;
  overflow-x: auto;
  white-space: nowrap; /* 虽然使用 flexbox 可以不使用这个属性，但保留可以增强兼容性 */
  width: 100%;
  height: 10%;
  padding: 10px;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none; /* IE 和 Edge */
  scrollbar-width: none; /* Firefox */
  margin: 20px 20px;
}

.scroll-view::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}

.scroll-item {
  display: flex;
  flex-direction: row; /* 修改为 row，水平排列 */
  justify-content: center; /* 水平居中 */
  align-items: center; /* 垂直居中 */
  flex-shrink: 0;
  height: 100%;
  background-color: rgb(255, 255, 255);
  margin-right: 25rpx;
  border-radius: 20px;
}

.scroll-text {
  padding: 15px;
  font-size: 25px;
}

.scroll-icon{
  padding: 10px;
}

.scroll-container {
  height: 100%;
  overflow-y: auto;
}
