.index-view {
  background-color: rgb(244, 248, 247);
  width: 100%;
  height: 100%;
}

.address-card {
  margin: 20px 20px;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
}

.rate-card {
  margin: 20px 20px;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
}
