@font-face {
  font-family: "iconfont"; /* Project id 4797276 */
  src: url('iconfont.ttf?t=1739778108180') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fenlei:before {
  content: "\e62f";
}

.icon-shucai:before {
  content: "\e628";
}

.icon-qiandao:before {
  content: "\e611";
}

.icon-shengxian-roulei:before {
  content: "\e601";
}

.icon-shuiguopingguo:before {
  content: "\e609";
}

.icon-lingshi:before {
  content: "\e600";
}

.icon-shouye_o:before {
  content: "\eb82";
}

.icon-choujiang:before {
  content: "\e665";
}

.icon-yijianfankui:before {
  content: "\e60a";
}

.icon-gehu:before {
  content: "\e61f";
}

.icon-shipinyinliao:before {
  content: "\e60d";
}

.icon-daily-necessities:before {
  content: "\e61a";
}

.icon-daizhifu:before {
  content: "\e60f";
}

.icon-dingdan-quanbudingdan:before {
  content: "\e626";
}

.icon-wode:before {
  content: "\e818";
}

.icon-daiquhuodingdan:before {
  content: "\e63f";
}

.icon-a-tiaoliaotiaoweipin:before {
  content: "\e651";
}

.icon-gouwuche:before {
  content: "\e7c8";
}

