@font-face {
  font-family: "iconfont"; /* Project id 4797276 */
  src: url('iconfont.ttf?t=1739776928861') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-baoxian:before {
  content: "\e609";
}

.icon-dingzhi:before {
  content: "\e60a";
}

.icon-dingwei:before {
  content: "\e60b";
}

.icon-yaoxiang:before {
  content: "\e60c";
}

.icon-zizhi:before {
  content: "\e60d";
}

.icon-anquan:before {
  content: "\e60e";
}

.icon-biaoqian:before {
  content: "\e60f";
}

.icon-baocun:before {
  content: "\e610";
}

.icon-yingyong:before {
  content: "\e611";
}

.icon-gouwu:before {
  content: "\e612";
}

.icon-qianbao:before {
  content: "\e613";
}

.icon-gengduo:before {
  content: "\e614";
}

.icon-shuju:before {
  content: "\e615";
}

.icon-tongzhi:before {
  content: "\e616";
}

.icon-bofang:before {
  content: "\e617";
}

.icon-liwu:before {
  content: "\e618";
}

.icon-guahao:before {
  content: "\e619";
}

.icon-shezhi:before {
  content: "\e61a";
}

.icon-yanse:before {
  content: "\e61b";
}

.icon-fenxiang:before {
  content: "\e61c";
}

.icon-fuzhi:before {
  content: "\e61d";
}

.icon-jiankong:before {
  content: "\e61e";
}

.icon-shouye:before {
  content: "\e61f";
}

.icon-shanchu:before {
  content: "\e620";
}

.icon-saomiao:before {
  content: "\e621";
}

.icon-youjian:before {
  content: "\e622";
}

.icon-zhuanpan:before {
  content: "\e623";
}

.icon-xiangji:before {
  content: "\e624";
}

.icon-shoucang:before {
  content: "\e625";
}

.icon-wancheng:before {
  content: "\e626";
}

