.my-index {
  height: 100%;
}

.avatar-view {
  width: 100%;
  height: 250rpx;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c6c9c6;
}

.avatar-index {
  width: 200px;
  height: 80%;
  background-color: lightcoral;
  border-radius: 50%;
}
